{% extends "partials/templatein.twig" %}
{% block content %}
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <p>Porfavor de descargar el siguiente pdf antes de realizar el ingreso de un nuevo cliente.</p><br>
            <a href="{{ 'credit/downcont' |url }}" class="btn btn-primary">Descargar PDF</a>
        </div>
    </div>
        <div class="row pull-right">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <a href="{{ 'credit/clientef' |url }}" class="btn btn-primary">Formulario de guardado</a>
            </div>
        </div>
{% endblock %}